html, body {
  font-family: 'Open Sans', sans-serif;
}
.font-libre {
  font-family: 'Libre Baskerville', serif;
}
.text-italic {
  font-style: italic;
}
.tag-category input {
  margin: 5px;
}
.margin-right {
  margin-right:10px;
}
.avatar-list {
  width: 85px;
  height: 85px;
}
.description-post {
    padding: 10px;
}
.description-post h1 {
  font-weight: 800;
  font-size: 20px;
  margin-top: 10px;
}
.description-post h2 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}
#msg-primary,
#msg-posts {
  padding-top: 100px;
}
#about-contributor .item {
  line-height: 16px;
}
#about-contributor span.label {
  font-size: 12px;
}
#menu .list-cover h1 {
  font-size: 23px !important;
}
#menu i {
  font-size: 25px;
}
.footer, .header {
  position: absolute;
}
@media only screen and (max-width : 385px) {
  .list .item h1, .list .item h2 {
      font-size: 14px;
  }
}
.list-editor {
  padding-right: 450px;
}
.mock-mobile {
  position: fixed;
  top: 0;
  right: 0;
  border: 10px solid #000;
  width: 450px;
  height: 700px;
  background: white;
}